body {
    margin: 0;
}

.no_posts {
    display: block;
    text-align: center;
    color: red;
    font-size: larger;
    margin-top: 80px;
}

.delete_button {
    margin-top: 10px;
}

.status {
    display: block;
    text-align: center;
    color: green;
    font-size: larger;
    margin-bottom: 16px;
    margin-top: 80px;
}

a {
    font-size: 25px;
    background-color: grey;
    color: white;
    padding: 10px 10px;
    border-radius: 15px;
    cursor: pointer;
    font-family: 'Questrial', sans-serif;
    text-decoration: none;
  }
  
a:hover {
    background-color: black;
    color: white;
  } 
  
navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}
  
header {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
  
#static {
    width: 780px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 50px;
    color: white; 
    z-index: 1;
}


  
#overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    
}

#wallpaper {
    object-fit: cover;
    height: 300px; 
    position: absolute;
    z-index: -1;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
  
.dati {
    font-size: 29px;
    text-align: center; 
    line-height: 23px;
    margin-top: -104px;
    color: yellow;
    
}
  
.dati em {
    font-size: 18px;
}

.color {
    background-color: lightgray;
}

article div {
    padding: 20px;
    background: white;
    border-radius: 16px;
    margin-bottom: 32px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}


div.title {
    font-size: 30px;
    font-weight: bolder;
}

div.author {
    font-size: 25px;
    margin-bottom: 25px;
    font-style: oblique;
    border-bottom: 1px solid white;
    border-radius: 50px;
    font-family: 'Playfair Display';
    padding-left: 10px;

}

div.content {
    font-size: 25px;
    font-family: 'Dosis';
    word-break: break-all;
}

div.post {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: lightgrey;
    border-radius: 8px;
    margin-bottom: 30px;
    padding: 20px;
    font-family: 'Montserrat';
    box-shadow: 5px 8px 5px #f2f3f4;
}

.trova_post {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
}
  
  form {
    width: 80%;
    padding: 10px;
    margin: 20px;
  }
